{% extends 'main/layout.html' %}

{% block titel %}
    Вход в аккаунт
{% endblock %}

{% block content %}

    {% comment %} {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %} {% endcomment %}

    <form method="post">
        {% csrf_token %}
        <table>
            {{ form_send.as_table }}
            {% comment %} {% for el in forms_urls %}
                {{ el.as_table }}
            {% endfor %} {% endcomment %}
            {{ forms_urls.as_table }}
        </table>

        <input type="submit" value="Отправить форму"/>
    </form>

{% endblock %}