{% extends 'main/layout.html' %}

{% block titel %}
    Главная страница
{% endblock %}

{% block content %}
    <h1 class="heading">Главная</h1>
    {% if user.is_authenticated %}
        <p>Введите информацию в формы и запустите отправку</p>
        {% for el in data %}
            <button class="btn btn-success" onclick="location.href='{% url 'sending_model' model_id=el.id %}'">{{ el.form_name }}</button>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
        </form>
    {% else %}
        <p>Вам надо авторизоваться, чтобы воспользоваться сервисом. <a href="{% url 'login' %}" class="button">Авторизация</a></p>
    {% endif %}
{% endblock %}